extends ../layout

block content
  .container
    h3 Edit Employee
    form(action="/employees/update/"+employee._id method="post")
      //- CRSF Synchronization Token
      input(type='hidden', name='_csrf', value=_csrf)
      table
        tbody
          tr
            td Name
            td
              input(type="text" name="name" value="#{employee.name}")
          tr
            td Address
            td
              textarea(name="address" value="{employee.address}")
          tr
            td Position
            td
              input(type="text" name="position" value="{employee.position}")
          tr
            td Salary
            td
              input(type="number" name="salary" value="{employee.salary}")
          tr
            td(colspan="2")
            button(type="submit") Update
