footer
  .container.text-center
    p.pull-left © 2017 TACC. All Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/jgentle/mcsdsf-isgeo-2017' target='_blank') Source on GitHub
      li
        a(href='https://github.com/jgentle/mcsdsf-isgeo-2017/issues' target='_blank') Issues
