.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        //- i.fa.fa-diamond
        //- i.fa.fa-code
        //- i.fa.fa-eye
        //- i.fa.fa-rocket
        i.fa.fa-globe
        //- i.fa.fa-cubes
        //- i.fa.fa-bullseye
        //- i.fa.fa-crosshairs
        //- i.fa.fa-map
        //- i.fa.fa-pie-chart
        //- i.fa.fa-bar-chart-o
        //- i.fa.fa-line-chart
        //- i.fa.fa-area-chart
        //- img(src='/images/thumb.png').header-logo.pull-left
        | MCSDSF IS-GEO 2017
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        //- li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        //- li(class=(title == 'API Examples') ? 'active' : undefined)
          a(href='/api') API Examples
        //- li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
        //- li
          a(href='/vue-test')
            i.fa.fa-try
            | Vue-Test
      ul.nav.navbar-nav.navbar-right
        //- li
          a(href='/')
            i.fa.fa-home
            //- i.fa.fa-desktop
            | Home
        //- li
          a(href='/data')
            i.fa.fa-database
            | Data
        li
          a(href='/formulations')
            i.fa.fa-database
            | Formulations
        li
          a(href='/settings')
            i.fa.fa-cog
            | Settings
        li
          a(href='/about')
            i.fa.fa-info-circle
            | About
        li
          a(href='/status')
            i.fa.fa-heartbeat
            | Status
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
        li
          a(href='https://github.com/jgentle/mcsdsf-isgeo-2017' target='_blank')
            i.fa.fa-code
            | GitHub
        li
          a(href='https://github.com/jgentle/mcsdsf-isgeo-2017/issues' target='_blank')
            i.fa.fa-bug
            | Issues
