extends ../layout
block content
	h3 New Formulation
	.container
		.row
			.col-xs-12
				form.form-horizontal(role='form', action='/formulations/save', method='post')
					//- CRSF Synchronization Token
					input(type='hidden', name='_csrf', value=_csrf)
					//- Name
					fieldset.form-group
						label(for='formulationName') Formulation Name
						input.form-control(type='text' name='name' id='formulationName' placeholder='Enter Formulation Name')
					//- Description
					fieldset.form-group
						label(for='formulationDescription') Formulation Description
						textarea.form-control(type='text' name='description' id='formulationDescription' placeholder='Enter Formulation Description')
					//- Configuration File
					fieldset.form-group
						label(for='formulationConfiguration') Select Formulation Configuration
						if (formulationconfigurations[0] == null)
							p No configurations found.
						else
							select.form-control(type='dropdown' name='configuration_id' id='formulationConfiguration')
								each fc in formulationconfigurations
									option(value=fc.id) #{fc.name}
						p Create a new Configuration
							a.btn.btn-sm.btn-primary.create-btn(href='/formulaton-configurations/create') Create
					//- POST Form Data
					button.btn-create.btn.btn-sm.btn-primary(type='submit' value='Save') Create
					a.btn.btn-sm.btn-danger(href='/formulations') Cancel
