extends ../layout

block content
  h3 Formulations Index
  .container
    .row
      p Create a new Formulation
        a.btn.btn-sm.btn-primary.create-item(href='/formulations/create') Create
    .row
      h4 Current Formulations
      if(formulations != null)
        .col-sm-12.col-sm-10.col-md-8.col-lg-6
          ul
            for formulation in formulations
              li
                div.item-formulation #{formulation.formulationName}
                  form(action='/formulations/delete/'+formulation._id method='post')
                    //- CRSF Synchronization Token
                    input(type='hidden', name='_csrf', value=_csrf)
                    button.btn.btn-xs.btn-danger.pull-right(type='submit') Delete
                  a.btn.btn-xs.btn-warning.pull-right(href='/formulations/edit/' + formulation._id) Update
                  a.btn.btn-xs.btn-success.pull-right(href='/formulations/show/' + formulation._id) View
      else
        div No formulations found.
