extends ../layout

block content
  .container
    h3 Formulation Detail
      table
        tbody
          tr
            td Name
            td :
            td #{formulation.name}
          tr
            td Address
            td :
            td #{formulation.address}
          tr
            td Position
            td :
            td #{formulation.position}
          tr
            td Salary
            td :
            td $#{formulation.salary}/year
    
