extends layout

block content
  .container
    img(src='/images/watermark-logo.png').about-logo
    
    h3.section-header What is Watermark?
    
    p Watermark is a multi-criteria spatial decision support system that combines GIS capabilities with best-of-breed visualization libraries to produce interactive dashboards based on arbitrary data inputs. Its primary goal is to facilitate data discovery by exposing intuitive interfaces for filtering complex data sets based on user preferences to reveal candidate solutions within the data that most align with the filtering criteria.
    
    p Watermark is comprised of entirely FOSS (free open source software) that is licensed under the permissive BSD-3 Clause model to allow for maximum flexibility and continued contributions by the open source community and its adoptive users. The technology stack for watermark is JavaScript from top-to-bottom which facilitates development by reducing cognitive load on the developers of the system as well as making it inherently optimal for web-based deployments while still supporting both localized and offline deployments.
    
    //- h4.section-header Technology Stack
    
    //- p Watermark is comprised of the following technologies:

      ul
        li thing 1
        li thing 2
        li ...
        li more things

    h4.section-header Contact Us
    
    p Principal Investigator:
      a.contact-link(href='mailto:spierce@tacc.utexas.edu') S.A. Pierce, PhD.
    p Lead Developer:
      a.contact-link(href='mailto:jgentle@tacc.utexas.edu') John Gentle

    //- p
      //- Social Media Buttons
      button.btn-xs.btn-social.btn-social-icon.btn-soundcloud
        i.fa.fa-soundcloud
          
      button.btn-xs.btn-social.btn-social-icon.btn-yahoo
        i.fa.fa-yahoo
    
    p © 2017 TACC. All Rights Reserved.
