extends layout

block content
  .row
    .col-sm-12
      //- h3 Map
      p Choropleth map component
      div.dashboard-leaflet-map
  .row
    .col-sm-12
      //- h3 Table
      p Table component with sparklines
      div.dashboard-crossfilter-table
