.item-datasource > a, .item-datasource > form > button {
  margin-left: 1rem;
}
.item-datasource > a, .item-datasource > form > button {
  margin-top: -2rem;
}
.item-datasource {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #DEDEDE;
}
.datasource-view {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.datasource-view > form {
  display: inline;
}
