button {
  margin: 0 0.5rem;
}
select {
  min-width: 9rem;
}
label {
  margin-left: 1rem;
}
li {
  margin-bottom: 1rem;
}
.create-btn, .item-formulation > a, .item-formulation > form > button {
  margin-left: 1rem;
}
.item-formulation > a, .item-formulation > form > button {
  margin-top: -2rem;
}
.item-formulation {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #DEDEDE;
}
.item-attributes > strong {
  margin-right: 1rem;
}
.formulation-view {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.btn-create {
  margin-right: 2rem;
}
.view-all-btn, .edit-btn, .delete-btn {
  margin-top: 0.5rem;
}
.view-all-btn{
  margin-right: 1rem;
}
.edit-btn {
  margin-right: 0.5rem;
}
.delete-btn {
  // margin-top: -2rem;
}
.formulation-view > form {
  display: inline;
}
