.item-formulation > a, .item-formulation > form > button {
  margin-left: 1rem;
}
.item-formulation > a, .item-formulation > form > button {
  margin-top: -2rem;
}
.item-formulation {
  padding-bottom: 0.5rem;
  // border-bottom: 1px solid #DEDEDE;
}
.item-formulation-description {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #CCCCCC;
}
.formulation-view {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.formulation-view > form {
  display: inline;
}
.item-attributes {
  margin-bottom: 1rem;
}
