.item-formulation-configuration > a, .item-formulation-configuration > form > button {
  margin-left: 1rem;
}
.item-formulation-configuration > a, .item-formulation-configuration > form > button {
  margin-top: -2rem;
}
.item-formulation-configuration {
  padding-bottom: 0.5rem;
  // border-bottom: 1px solid #DEDEDE;
}
.item-formulation-configuration-description {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #CCCCCC;
}
.formulation-configuration-view {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.formulation-configuration-view > form {
  display: inline;
}
.item-attributes {
  margin-bottom: 1rem;
}
