body {
  padding-top: 7rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
p {
  margin-top: 1rem;
}
button {
  margin: 0 0.5rem;
}
select {
  min-width: 9rem;
}
label {
  margin-left: 1rem;
}
li {
  margin-bottom: 1rem;
}
.navbar {
  margin: 0;
  padding-top: 0;
  padding-right: 3rem;
  padding-bottom: 0;
  padding-left: 2rem;
  height: 5rem;
  border-bottom: 1px solid #777777;
}
.navbar-collapse, .navbar, li.dropdown > ul {
  // background: #EEEEEE;
  background: #333333;
  // background: #225588;
}
li.dropdown > ul > li > a:hover {
  background: #333333;
}
.navbar-brand, .nav > li > a,
li.dropdown > ul > li > a {
  color: #FFFFFF !important;
}
.navbar-brand:hover, .nav > li > a:hover,
li.dropdown > ul > li > a:hover {
  color: #55AAFF !important;
  // color: #FFAA55 !important;
}
.nav-profile {
  border: 1px solid #333333;
}
.header-logo {
  display: inline;
  max-height: 3rem;
  padding-right: 1rem;
}
.section-header {
  display: inline;
}
.about-logo {
  max-height: 10rem;
  margin-right: 1rem;
}
.contact-link {
  margin-left: 1rem;
}
.create-btn {
  margin-left: 1rem;
}
.btn-create {
  margin-right: 2rem;
}
.view-all-btn, .edit-btn, .delete-btn {
  margin-top: 0.5rem;
}
.view-all-btn{
  margin-right: 1rem;
}
.edit-btn {
  margin-right: 0.5rem;
}
.delete-btn {
  // margin-top: -2rem;
}
.item-attributes > strong {
  margin-right: 1rem;
}
@media screen and (max-width: 767px) {
  .navbar-brand {
    padding: 1.5rem 0 0 1rem;
  }
  .nav > li > a {
    padding: 0.5rem 0 0.2rem 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    padding: 1.5rem 0 0 0.5rem;
  }
  .nav > li > a {
    padding: 1.5rem 0.5rem 0 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-brand {
    padding: 1.5rem 0 0 2rem;
  }
  .nav > li > a {
    padding: 1.5rem 1rem 0 1rem;
  }
}
