.item-systems-model > a, .item-systems-model > form > button {
  margin-left: 1rem;
}
.item-systems-model > a, .item-systems-model > form > button {
  margin-top: -2rem;
}
.item-systems-model {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #DEDEDE;
}
.systems-model-view {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.systems-model-view > form {
  display: inline;
}
