extends ../layout

block content
	h3 New Systems Model
	.container
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-4
				form.form-horizontal(role='form', action='/systems-models/save', method='post')

					//- CRSF Synchronization Token
					input(type='hidden', name='_csrf', value=_csrf)

					//- Formulation Name
					fieldset.form-group
						label(for='systemsModelName') Systems Model Name
						input.form-control(type='text' name='name' id='systemsModelName' placeholder='Enter Systems Model Name')

					//- POST Form Data
					button.btn-create.btn.btn-sm.btn-primary(type='submit' value='Save') Create
					a.btn.btn-sm.btn-danger(href='/systems-models') Cancel
