extends ../layout
block content
	h3 New Systems Model
	.container
		.row
			.col-xs-12
				form.form-horizontal(role='form', action='/systems-models/save', method='post')
					//- CRSF Synchronization Token
					input(type='hidden', name='_csrf', value=_csrf)
					//- Name
					fieldset.form-group
						label(for='modelName') Model Name
						input.form-control(type='text' name='name' id='modelName' placeholder='Enter Model Name')
					//- Description
					fieldset.form-group
						label(for='modelDescription') Model Description
						textarea.form-control(type='text' name='description' id='modelDescription' placeholder='Enter Model Description')
					//- Configuration File
					//- POST Form Data
					button.btn-create.btn.btn-sm.btn-primary(type='submit' value='Save') Create
					a.btn.btn-sm.btn-danger(href='/systems-models') Cancel
