extends ../layout
block content
	h3 Edit Systems Model
	.container
		.row
			.col-xs-12
				form.form-horizontal(role='form', action='/systems-models/update/'+systemsmodel._id, method='post')
					//- CRSF Synchronization Token
					input(type='hidden', name='_csrf', value=_csrf)
					//- Name
					fieldset.form-group
						label(for='modelName') Model Name
						input.form-control(type='text' name='name' id='modelName' placeholder='Enter Model Name' value=systemsmodel.name)
					//- Description
					fieldset.form-group
						label(for='modelDescription') Model Description
						textarea.form-control(type='text' name='description' id='modelDescription' placeholder='Enter Model Description')=systemsmodel.description
					//- Model Data
					//- POST Form Data
					button.btn-create.btn.btn-sm.btn-warning(type='submit') Update
					a.btn.btn-sm.btn-danger(href='/systems-models') Cancel
