extends ../layout
block content
	h3 Systems Models Index
	.container
		.row
			h4 Current Systems Models
			.col-xs-12
				if (systemsmodels[0] == null)
					div
						p No systems models were found.
				else
					ul
						for systemsmodel in systemsmodels
							li
								div.item-systems-model-configuration #[strong Name:] #{systemsmodel.name}
									form(action='/systems-models/delete/'+systemsmodel._id method='post')
										//- CRSF Synchronization Token
										input(type='hidden', name='_csrf', value=_csrf)
										button.btn.btn-xs.btn-danger.pull-right(type='submit') Delete
									a.btn.btn-xs.btn-warning.pull-right(href='/systems-models/edit/' + systemsmodel._id) Edit
									a.btn.btn-xs.btn-success.pull-right(href='/systems-models/show/' + systemsmodel._id) View
								if (systemsmodel.description != null)
									div.item-systems-model-description #[strong Description:] #{systemsmodel.description}
								else
									div.item-systems-model-description No description available.
		.row
			p Create a new Systems Model
				a.btn.btn-sm.btn-primary.create-btn(href='/systems-models/create') Create
