extends ../layout

block content
	h3 Data Upload
	//- p#test Testing #{ dataTest }
	ul
		li Welcome to the Watermark data upload wizard.
		li Please complete the form below in order to upload new data sources for use in Watermark.
		li You will be prompted for additional input as you complete each step in the upload process.
		li Once all steps are complete, you will be able to upload the new data source.
	.container
		.row
			.col-xs-12.col-sm-6.col-md-6.col-lg-12
				form.form-horizontal(role='form', action='/datasources/save', method='post')

					//- CRSF Synchronization Token
					input(type='hidden', name='_csrf', value=_csrf)

					//- Formulation Name
					fieldset.form-group
						label(for='name') Data Source Name
						span.help-block.help-text All datasources require a name. Use enter or tab to complete your input in this field.
						input.form-control#targetFileName(type='text' name='name' placeholder='Enter Data Source Name' required)
						//- div#fileNameErrors

					//- NonGeospatial vs Geospatial toggle.
					//- Make remainder of form dynamic based on selection.
					fieldset.form-group#geospatialCheck
						label Is this Data Source Geospatial?
						span.help-block.help-text All datasources must be identified as geospatial or non-geospatial in order to determine the correct validation technique to apply when uploading the data.
						span.help-block.help-text If you are uploading geojson, topojson or a shapefile, select True, otherwise select False.
						div.form-check
							input.form-check-input(type='radio' name='isGeospatial' id='isGeospatial' value='true')
							label.form-check-label True
						div.form-check
							input.form-check-input(type='radio' name='isGeospatial' id='notGeospatial' value='false')
							label.form-check-label False

					//- IF nonGeospatial
					//- Select Source Data File Type
					fieldset.form-group#nonGeospatial
						label Source File Data Format
						span.help-block.help-text Please select the type of WKT (well known text) file you are uploading.
						div.form-check
							input.form-check-input(type='radio' name='dataSourceFileType' id='dataSourceFileType_csv' value='csv')
							label.form-check-label CSV
						div.form-check
							input.form-check-input(type='radio' name='dataSourceFileType' id='dataSourceFileType_tsv' value='tsv' disabled)
							label.form-check-label TSV (under development)
						div.form-check
							input.form-check-input(type='radio' name='dataSourceFileType' id='dataSourceFileType_json' value='json' disabled)
							label.form-check-label JSON (under development)
						div.form-check
							input.form-check-input(type='radio' name='dataSourceFileType' id='dataSourceFileType_piped' value='piped' disabled)
							label.form-check-label Pipe-delimited (under development)

					//- IF Geospatial
					//- Select Source Geodata File Type
					fieldset.form-group#geospatial
						label Source File Geospatial Data Format
						span.help-block.help-text Please select the type of Geospatial data you are uploading.
						div.form-check
							input.form-check-input(type='radio' name='geodataSourceFileType' id='geodataSourceFileType_geo' value='geojson')
							label.form-check-label GeoJSON
						div.form-check
							input.form-check-input(type='radio' name='geodataSourceFileType' id='geodataSourceFileType_topo' value='topojson' disabled)
							label.form-check-label TopoJSON (under development)
						div.form-check
							input.form-check-input(type='radio' name='geodataSourceFileType' id='geodataSourceFileType_shp' value='shapefile' disabled)
							label.form-check-label ESRI Shapefile (under development)

					//- Select Source Data Target File
					fieldset.form-group#targetFile
						label(for='dataSourceFile') Data Source File
						span.help-block.help-text Please select the source file to be uploaded.
						input.form-control-file.btn.btn-sm.btn-primary#dataSourceFile(type='file' name='dataSourceFile' aria-describedby='dataSourceFileHelp')
						small.form-text.text-muted(id='dataSourceFileHelp') The data source that will be used for the current formulation.

					//- POST Form Data IF Valid
					button.btn-create.btn.btn-sm.btn-primary#uploadButton(type='submit' value='Save' disabled) Upload
					a.btn.btn-sm.btn-danger(href='/datasources') Cancel

block viewJS
	script(src='/scripts/jquery/dist/jquery.min.js')
	script(type='text/javascript' src='/js/datasource-upload.js')
