extends ../layout

block content
	.container

		h3.section-header Using Watermark
		p.tutorial-intro This is a brief introduction on how to use the Watermark application and the various steps associated with defining a proper configuration necessary to utilize the Discovery Space.
		//- p Subway map concept, perhaps some parallax for presentation.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-one 1
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Create an Account
					p.step-description Create a new account or login to an exisiting one.
					p.step-description Optionally update your account profile to reflect the correct information.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-two 2
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Review your Dashboard
					p.step-description After a succesful login you will be redirected to your dashboard where summary information about your saved work is displayed.
					p.step-description You can navigate into the various modules from the dashboard or use the menu bar to navigate to specific modules.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-three 3
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Upload your Case Data
					p.step-description In order to utilize the Watermark Discovery Space you will need to upload data through the Data Sources module.
					p.step-description Non-geospatial data sources must be structured in accordance with one of the common WKT (well-known text) data formats (.csv, .tsv, pipe-delimited, .json). CSV data is preferred.
					p.step-description In order to utilize the mapping components, you must also provide a geospatial data source with at least one attribute that correlates the features contained in the geospatial data source to a row item in your tabular data source.
					p.step-description Geospatial data sources must be in one of the supported data formats (GeoJSON, TopoJSON or Shapefile). GeoJSON is preferred.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-four 4
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Create a Formulation or Systems Model
					p.step-description Both formulations and systems models are generated based on the data sources uploaded by the user. Basic information about the current formulation or systems model being generated must be provided, including a configuration for properly interpreting the data elements being displayed. The completed configuration is what will be loaded into the Watermark Discovery Space.
					p.step-description A formulation or systems model may explore multiple data sets under different configurations, therefore it is possible to save these different configurations and modify the current formulation or systems model.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-five 5
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Create a Configuration
					p.step-description The configuration used by a formulation or systems model determines how it will be displayed and respond within the Watermark Discovery Space.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-six 6
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Populate the Watermark Discovery Space
					p.step-description Details about usage process.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-seven 7
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Save your Findings within the Discovery Space
					p.step-description Details about save process.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-eight 8
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Publish or Share your Findings
					p.step-description Details about save and export processes.
		.row.tutorial-step
			.col-xs-2.col-sm-1
				div.walk-through-number
					p.number.number-nine 9
			.col-xs-10.col-sm-11
				div.walk-through-step
					p.step-label Other Stuff
					p.step-description Details about other processes.
